/*---------------------*/
/*   GENERAL ELEMENTS  */
/*---------------------*/

body {
    font-size: 1rem;
    color: #141823;
    font-family:  Helvetica, Arial, sans-serif;
    background-color: #e9eaed;
}

a {
    text-decoration: none;
    color: #3b5998;
}

a:hover {
    text-decoration: underline;
}

h1 {
    line-height: 250%;
    font-weight: bold;
}

h2 {
    margin-bottom: 0.312rem;
}
h3 {
    color: #9197a3;
    font-size: 0.8rem;
    margin-bottom: 0.937rem;
}
/*---------------------*/
/*   GENERAL CLASSES   */
/*---------------------*/


/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/

main {
    width: 27.5rem;
    margin-left: auto;
    margin-right: auto;
}

body>header {
    background-color: #3b5998;
    height: 2.5rem;
    border-bottom: #1b316c solid 0.0625rem;
    color: #FFFFFF;
    padding-left: 2.5rem;
    margin-bottom: 0.625rem;
}


/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/

/* --- Homepage --- */

article {
    background-color: #FFFFFF;
    border: 0.0625rem solid #dfe0e4;
    margin-bottom: 0.625rem;
}
.inner {
    padding: 1.5rem 1.5rem 0 1.5rem;
}
.inner img {
    margin-bottom: 0.312rem;
}
article header a, article aside h4 a {
    font-weight: bold;
}

article ul li {
    display: inline;
}

article aside {
    border-top: 0.0625rem solid #e1e2e3;
}

article header + p {
    margin-bottom: 0.937rem;
}

article ul {
    margin-bottom: 0.625rem;
    font-size: 0.7rem;
    text-transform: capitalize;
}

article ul li {
    background-image: url('../media/dot.png');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 0.625rem;
    margin-left: 0.125rem;
}

article ul li:last-child {
    background-image: none;
    padding-right: 0;
}
.likes, a.comment {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 1rem 1rem;
    padding-left: 1.25rem;
    padding-bottom: 0.25rem;
    font-size: 0.7rem;

    margin: 0.625rem 0 0.625rem 0;
}
.likes {
    background-image: url('../media/like.svg');
    border-bottom: 0.0625rem solid #e1e2e3;
    padding-bottom: 0.5rem;
    line-height: 170%;
}

a.comment {
    background-image: url('../media/comment.svg');
    display: block;
    line-height: 130%;
}

article aside {
    background-color: #f6f7f8;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 0.8em;
}

article aside h4, article aside .comment p {
    display: inline-block;
    margin-bottom: 0.312rem;
}

article aside .comment ul {
    font-size: 0.9em;
    line-height: 130%;
}
article aside .comment:last-child ul{
    margin-bottom: 0;

}
article aside .comment ul li {
margin-right: 0.312rem;
}
article aside .comment ul li:first-child{
    color: #9197a3;
}
article aside .comment ul li:last-child{
    background-image: url('../media/like.svg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 0.8rem;
    padding-left: 1.25rem;
}