/*---------------------*/
/*   GENERAL ELEMENTS  */
/*---------------------*/

body {
    font-size: 1rem;
    color: #5f5352;
    font-family:  Garamond, Cambria, 'Times New Roman', Times, sans-serif;
    background-color: #FFFFFF;
}

header h2 {
    font-style: italic;
    font-size: 6rem;
    color: #FFFFFF;
    text-align: center;
    padding-top: 6.25rem;
}

section h2, #quality h3 {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    border-top: 0.0625rem solid #5f5352;
    padding-top: 0.625rem;
    display: inline-block;
    margin-bottom: 1.25rem;
}
h3 span {
    background-color: #E1EDE7;
}

p {
    line-height: 130%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
strong {
    font-weight: bold;
}

img {
    box-shadow: 0.375rem 0.5rem 1.25rem rgba(51,53,55,0.17);
}

a {
    color: #54b785;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/*---------------------*/
/*   GENERAL CLASSES   */
/*---------------------*/

/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/

header {
    background-image: url(../media/header.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    padding-bottom: 1.25rem;
    margin-bottom: 2.5rem;
    box-shadow: 0.375rem 0.125rem 2.5rem rgba(51,53,55,0.4);
}

header h1 {
    display: block;
    color: #FFFFFF;
    font-size: 1.4em;
    text-align: center;
    width: 37.5rem;
    margin: 0 auto 3.125rem auto;
    padding: 0;
    background-image: url(../media/line.gif), url(../media/line.gif);
    background-repeat: no-repeat;
    background-position: center left, center right;
    text-transform: none;
    letter-spacing: normal;
    border: none;
}
nav ul {
    text-align: center;
}
nav li {
    display: inline;
    color: #FFFFFF;
}
nav a {
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    margin-left: 0.25rem;
}

nav a:hover {
    text-decoration: underline;
}

nav li {
    border-right: 0.0625rem solid white;
    font-size: 1rem;
    vertical-align: top;
    text-decoration: none;
    padding-right: 0.2rem;
}
/* liever zo dan met een not: minder complex voor de browser (=sneller) en betere browser support dan "not" */
nav li:last-child {
    border: none;
}

footer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2.5rem;
}

footer h2 {
    border: none;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    text-transform: lowercase;
}


footer .column {

    margin-right: 3.125rem;
}
footer .column:last-child {
    margin-right: 0;

}

footer li {
   line-height: 146%;
    background-image: url(../media/facebook-f.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 0.5rem;
    padding-left: 1rem;
}
footer .tw {
    background-size: 0.75rem;
    background-image: url(../media/twitter.svg);
}

footer .em {
    background-size: 0.75rem;
    background-image: url(../media/email.svg);
}

footer dt, footer dd {
    line-height: 140%;
    text-transform: lowercase;
}

footer dd {
    margin-bottom: 0.625rem;
    font-weight: bold;
}

footer address {
    line-height: 140%;
}
/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/

#quality h2 {
    text-align: center;
    display: block;
    border: none;
    margin-bottom: 2rem;
}
#quality .flexcontainer{
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
}

#beliefs, #reservation {
    margin-bottom: 3.125rem;
}
/* --- Our beliefs --- */
#beliefs {
    padding-left: 2.5rem;
}

#beliefs .column, #reservation .column {
    width: 31.25rem;
    margin-left: 3.125rem;
}

/* --- Reservation --- */
#reservation .column {
    margin-right: 2.5rem;
}

/* --- Menus --- */

#menus {
    text-align: center;
    margin-bottom: 2.5rem;
    background-color: #aea8a8;
    color: #FFFFFF;
    padding: 1% 0 1% 0;
    position: relative;
}


#menus h2 {
    display: block;
    border: none;
    margin-bottom: 2.5rem;
}

#menus h3 {
    font-size: 2rem;
    text-transform: lowercase;
    margin-bottom: 1.25rem;
    background-image: url(../media/swirl.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    line-height: 7.5rem;
}


#menus h4 {
    font-size: 1.8rem;
    text-transform: lowercase;
}

#menus p {
    font-size: 1rem;
    margin-bottom: 2.5rem;
}
#menus p span {
    display: block;
}
#menus .flexcontainer {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
}

#menus .flexcontainer article {
    width: 30%;
}

#menus article:last-child {
    margin-right: 0;
}
