/*---------------------*/
/*    HTML ELEMENTS    */
/*---------------------*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #999999;
    background-color: #FFF;
}
h2 {
    color: #000000
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    color: #000000;
    text-align: center;
    font-family: "Arial, sans-serif";
}

p {
    font-size: 0.8rem;
    line-height: 160%;
    margin-bottom: 1rem;
}

a {
    color: #D11B1C;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    color: red;
}

img {
    border-top: 0.625rem solid #D11B1C;
    max-width: 100%;
}

/*---------------------*/
/*  REUSABLE CLASSES   */
/*---------------------*/


/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/

header {
    background-color: #D11B1C;
    font-size: 2rem;
    line-height: 7.5rem;
    margin-bottom: 2.5rem;
}

header h2 {
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

section {
    width: 60%;
    margin-left:auto;
    margin-right: auto;
}

/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/

/* --- News --- */

article {
    margin-bottom: 2.5rem;
    padding: 1.25rem;
    background-color: #FFF;
}
article h3 {
    color: #000000;
    font-size: 1.9rem;
    margin-bottom: 1px;
}


article h4 {
    color: #D11B1C;
    font-size: 1.4rem;
    text-align: right;
    margin-bottom: 0.5rem;
}

article p:first-of-type {
    color: #000000;
    text-align: justify;
    border-left: 0.25rem solid #999999;
    padding-left: 0.5rem;
}

article:nth-child(even) {
    background-image: url(../media/bg-pixels.png);
      background-position: top left;
      background-repeat: repeat;
}

article:nth-child(even) p:first-of-type {
    border-color: #CCCCCC;
}

